.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 25px;
  margin-bottom: 2em;
  margin-right: 2em;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.name {
  margin: 0 0 1em 0;
  color: #f8954d;
  font-size: 2rem;
  font-weight: 300;
}

.amount {
  font-size: 2.2rem;
  margin-bottom: 0.15em;
}

.periodic,
.spareChange {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spareChange {
  margin: 1.5em 0 0.75em 0;
}

.periodic {
  margin-bottom: 1.5em;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 25px;
  cursor: pointer;
  background-color: #f8954d;
  color: azure;
  border-radius: 3px;
  font-size: 20px;
}
